<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Летучев Игорь</title>
</head>
<body>
    <form method='post'>
        <p>Координаты первой локации(широта, долгта):</p>
        <input type='text' id='lat_1' name='lat' required>
        <input type='text' id='lon_1' name='lon' required>
        <p>Координаты второй локации(широта, долгта):</p>
        <input type='text' id='lat_2' name='lat' required>
        <input type='text' id='lon_2' name='lon' required>
        <button type='submit'>Узнать погоду</button>
    </form>
</body>
</html>